<div class="col-sm-12 col-lg-3 col-md-3">
        <div class="card">
            <div class="card-header">
                <%= merchant.merchant_name %> 
            </div>
            <div class="card-body">
               <label classs=""> <a href="/admin/business/editBusiness/<%= merchant.merchant_id %>" class="btn btnEditBusiness">Settings <i class="fa fa-edit" style="color:#2f2c2c;"></i></a></label>
               <label classs=""> <a href="/admin/business/ownbusiness/<%= merchant.merchant_id %>" class="btn ">Transaction History </a></label>

            </div> 
            <div class="card-footer">
               
            </div>
        </div>
    </div>