
<div class="container-home row" style='background-image: url("/public/image/frontend/paybill.jpg"); width: 100%;
min-height: calc(98vh - 120px);background-size: cover;
    background-position: center center;'>
  <div class="col-lg-6 col-md-9 col-sm-12 d-flex justify-content-center flex-column ">
    <div class="order-1 p-2 mt-auto ">
        <h1 class='' style="font-family: fantasy;">Secure Payment Experience<br>For You, Today</h1>
        <p class=''>mmPay is an easy, fast, and secure E-commerce system. Our services are fraud prevention and risk management for your online Business & E-commerce.</p>
    </div>
    <div class="order-2 p-2 ">
      <a href="/admin/signup" class="btn btn-primary">Sign Up Here!</a>
    </div>
  </div>
</div>
<div class="container-home " style="padding-top: 1em;">
    <p>THE BENEFITS<p>
    <h4 class=" "><b>Why mmPay?</b> </h4><br>
    <div class="row whymmpay_figure" >
      <div class=" col-sm-12 col-md-3 col-lg-3 col-xs-12" style=" margin-right: 3em;padding:10px;">
        <figure class="figure">
          <img src="/public/image/frontend/mmpaydashboard.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"></figcaption>
        </figure>
        <div class="">
          <h5 class="">All data accessible via a central dashboard</h5>
          <p class="">
              View and manage all incoming payments, outbound transfers and chargeback claims from dashboard.
          </p>
        </div>
      </div>
      <div class=" col-sm-12 col-md-3 col-lg-3 col-xs-12" style=" margin-right: 3em;padding:10px;">
        <figure class="figure">
          <img src="/public/image/frontend/inoneaccount.jpg" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption"></figcaption>
        </figure>
        <div class="">
          <h5 class="">Eliminate checkout barriers
            </h5>
          <p class="">
            After signing up for personal account, users can easily add their businesses and avoid having to create a new account or enter credit card information.
            
          </p>
        </div>
      </div>
    </div>
</div>
<div class="container-home">
    <h4><b>How to start using mmPay?</b></h4><br>
    <div class="container-body  row">
        <div class="card howtocard col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <img class="card-img-top howtoimage" src="/public/image/frontend/howto/mmpay_signup.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">1. Sign Up For Free</h5>
              <p class="card-text">Enter the right your information.</p>
             
            </div>
          </div>
          <div class="card howtocard col-sm-12 col-md-3 col-lg-3 col-xs-12" >
            <img class="card-img-top howtoimage"  src="/public/image/frontend/howto/mmpay_login.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">2. Login with registed account.</h5>
              <p class="card-text">Enter your email or phone number and password.</p>
             
            </div>
          </div>
          <div class="card  howtocard col-sm-12 col-md-3 col-lg-3 col-xs-12">
            <img class="card-img-top howtoimage"  src="/public/image/frontend/howto/paymentinfo.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">3. Update your payment information.</h5>
              <p class="card-text">Enter your preferred payment method for make your life easy.</p>
             
            </div>
          </div>
          <div class="card howtocard col-sm-12 col-md-3 col-lg-3 col-xs-12" >
            <img class="card-img-top howtoimage"  src="/public/image/frontend/howto/mmpay_howto_laststep.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">4. Check Out with mmPay.</h5>
              <p class="card-text">Secure checkout with buyer protection.</p>
             
            </div>
          </div>
    </div>
</div>

<script type="text/javascript">

</script>