<div class="container">
    <div class="d-flex flex-column">
    <div class=" p-2 ">
        <h3><a href="#">How it works</a></h3>
    </div>
    <div class="p-2">
        mmPay allows merchant to integrate to mmPay Payment Gateway with minimum effort and enjoy the full benefits of enhanced security and full suite of payment options. Accepting payment from Bank Card,Visa/Master Card, eWallet and mobile payment.<br>
        Key Benefits of Redirect API:<br>
        <ol>

            <li>Fast setup & integration.</li>
            <li>Secure</li>
        </ol>
    </div>
    <br>
    <div class="p-2 " >
      
        <figure class="figure">
            <img src="/public/documents/merchantconnectsmmpay.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
            <figcaption class="figure-caption text-center">How merchant works with mmPay Gateway</figcaption>

          </figure>
    </div>
    
    <br>
    <div class="p-2" style="padding-bottom: 3px;
    padding-top: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #caacac;
    background: #f3e5e5;">
        <ol>
            <li>Consumer checkout on merchant site.</li>
            <li>Merchant redirect payment to mmPay Gateway</li>
            <li>mmPay Gateway gets the card information from customer and processes payment with financial services.</li>
            <li>Services return payment result</li>
            <li>mmPay Gateway return payment result to merchant via frontend return url and backend return url.</li>
            <li>Merchant display payment result to customer.</li>
        </ol>
       
    </div>
</div>
</div>
