<!DOCTYPE html>
<html lang="en">
	<head>
			<% include ./partials/head %>
	</head>

	<body>
			<style>
					.usersite_header{
						margin-top: 1em;
						margin-bottom: 1em;
					}
					.usersite-brand{
						font-size: 2em;
						color: #3c9820;
					}
					.menu_atag{
						text-align: center;
						margin-right: 2em;
					}
				</style>
				<div class="container usersite_header">
					<div class="row">
							<a href="/">
							<div class="usersite-brand col-3">
									<i class="fa fa-hand-holding-usd"><%= domainname %></i>
							</div></a>
						
						<div class="usersite_headerbutton text-right col-9" >
							
							<a class="btn btn-secondary site-btn" href="/admin/login" id="btnlogin">Login</a>
							<a class="btn btnformmpay site-btn" href="/admin/signup" id="btnsignup">SignUp</a>
						</div>
					</div>
					
				</div>
			<div class="container">
				<div class="row justify-content-center ">
					<div class="card " style="width: 29em;     box-shadow: 1px 5px 6px 1px #eae0e0;">
							<div class="card-header" style="    font-size: 1.1em;
							color: #10110f;
							font-weight: bold;">Enter new password</div>
							<div class="card-body">
								<form id="newpasswordForm" method="POST" action="/newpassword">
									<% if(error){%>
										<div class="alert alert-warning" role="alert">
										<%= text %>
										</div>
                                    <%}%>
									<div class="form-group row justify-content-center" >
                                      
                                        <input class="col-7 form-control  form-control-lg" type="password" id="password" required name="password" placeholder="New password" />

										<input class="col-7 form-control  form-control-lg" type="hidden" id="v_token" required name="v_token" readonly value="<%= v_token %>" />
									
                                    </div>
                                    <div class="form-group row justify-content-center" >
                                  
                                        <input class="col-7 form-control  form-control-lg" type="password" id="password2" required name="password2" placeholder="New confirm password" />

									
									</div>
									
									<div class="form-group row justify-content-center">
                                         
											<button type="submit" class="btn btn-secondary btn-lg">Save</button> 
										</div>
									
								</form>
							
							</div>
							
						</div>
				</div>
		
					
			</div>
		
	
			<% include ./partials/script %>

		  
	</body>
</html>
