<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

  </head>

  <body>
    <!-- Fixed navbar -->
  <br>
  <br>
  <br>
  <br>
	
    <div  class="container">
      <h4>Error Code: 404</h4>
      <div class="description">SORRY, THE PAGE YOU WERE LOOKING FOR DOESN’T EXIST.</div>
	  <!--
      <p>Go back to <a href="/">home</a> instead.</p>
	  -->
	  <p>We just gone through a website overhaul and the URL you have may no longer exist.<br> 
	  to get a new URL or go back to home instead.</p>
    </div>

<!-- Start of Footer -->
  

    <!-- End of Footer-->

  </body>
</html>
