<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>

  </head>

  <body>
    <!-- Fixed navbar -->
  <br>
  <br>
  <br>
  <br>
	
    <div  class="container">
      <h4>Error: <%= status %> (<%= message %>) </h4>
      <div class="description">Something went wrong.</div>
	  <!--
      <p>Go back to <a href="/">home</a> instead.</p>
	  -->
    <p>Sorry, the site is currently unable to handle this request.Try again later.</p>
   
    </div>

<!-- Start of Footer -->
  

    <!-- End of Footer-->

  </body>
</html>
