<div class="row  footer-css justify-content-center">
    <div class="col-12 row  justify-content-center" style="padding:5px;">
        <div class="col-6 justify-content-center">  
            <h5>Contact Details:</h5>
            <p><b>Address:</b> No. 100, Corner of Wardan Street & Kan Nar Street, Wardan Port Area, Seik Kan (Port) Township, Yangon. </p>
        
            <i class="fas fa-phone-volume">+959 9759 09701 , +959 4411 95962</i>
            <br>
            <a href="mailto:hninnumml@gmail.com"><i class="far fa-envelope"> mmpay-cs@mmpay.com</i></a>
        </div>
        <div class="col-6 justify-content-center">
            <a class="footer_social_tag" href=""><i class="fab fa-twitter-square fa-3x"></i></a>
            <a class="footer_social_tag" href="https://www.facebook.com/Mmpay-testing-page-101043751410251"><i class=" fab fa-3x fa-facebook-square"></i></a>
            <a class="footer_social_tag" href=""><i class="fab fa-3x fa-youtube-square"></i></a>
           
            <div class="d-none" >
                <div class="fb-like" data-href="https://www.facebook.com/Mmpay-testing-page-101043751410251" data-width="" data-layout="button_count" data-action="like" data-size="small" data-share="true">
                </div>
            </div>
            <div class= "d-none" style="    padding: 4px;">
                <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div> 
        </div>
        
    </div>
    <div class="" style="    font-size: x-small;">
        <p>&copy;2020	mmPay Payment Gateway</p>
    </div>
</div>
