
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="description" content="product" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/nodemodule_forclient/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="/public/main/font-awesome-master/css/fontawesome-all.css" >
<link rel="stylesheet" href="/public/main/bootstrap.min.css" >
<link rel="stylesheet" href="/public/main/dataTables.bootstrap4.min.css" >
<link href="/nodemodule_forclient/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css" rel="stylesheet">
<link rel="stylesheet" href='https://mmwebfonts.comquas.com/fonts/?font=pyidaungsu' />
<title><%= domainname %></title>
<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
     <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/nodemodule_forclient/jquery/dist/jquery.min.js"></script>
    <script src="/public/main/popper.min.js"></script>
    <script src="/nodemodule_forclient/bootstrap/dist/js/bootstrap.min.js" ></script>
    	
    
    <script src="/public/main/jquery.dataTables.min.js"></script>
    <script src="/public/main/dataTables.bootstrap4.min.js"></script> 
    <script src="/public/main/bootstrap.bundle.min.js"></script>
    <script src="/nodemodule_forclient/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.js"></script>
      
<link href="/public/main/bootstrap-datepicker.min.css" rel="stylesheet"/>
<script src="/public/main/bootstrap-datepicker.min.js"></script>
<script src="/nodemodule_forclient/bootstrap-select/dist/js/bootstrap-select.min.js" ></script>
<script src="/nodemodule_forclient/moment/moment.js" ></script>
<link rel="stylesheet" href="/nodemodule_forclient/bootstrap-select/dist/css/bootstrap-select.min.css" />

<script src="/public/Bootstrap-Country-Picker-jQuery/js/countrypicker.js"></script>
<link rel="stylesheet" href="/public/main/jquery-ui.css">
<script type="text/javascript" src="/public/google_chart/loader.js"></script>
<link rel="stylesheet" href="/public/css/mmpayfrontend.css" />



    <script type="text/javascript">
        $( document ).ready(function() {
          
        });
            
    </script>