<!DOCTYPE html>
<html>

<head>
    <title>Forget Password Email</title>
</head>

<body>
    <div>
        <h3>Dear <%=name%>,</h3>
        <p>Hello, Someone, hopefully you, has requested to reset the password for your mmpay  account.
            If you did not perform this request, you can safely ignore this email.
            Otherwise, copy this code and add in the comfirmmation code field to continue.
        </p>
        <br>
        <div  align="center" style="border: grey solid 0.1px;width: 4em;height: 1em;"><%=code%></div>
        <br>
        <p>Thank You!</p>
    </div>
   
</body>

</html>